<div>
  <form class="form-horizontal" name="recommendspotifylastfm" novalidate ></form>    
    <div class="form-group" >

      <label class="col-sm-2 control-label" for="recommendQueryString">Artists</label>
      <div class="col-sm-10">
        <input name="queryString" type="text" id="inputPlaylist" required class="form-control"
               placeholder="Enter artists separated by comma (,)" ng-model="recommendArtists" autocomplete="off" />
      </div>
	<br/>
	<br/>
      <label class="col-sm-2 control-label" for="recommendQueryString">Tracks</label>
      <div class="col-sm-10">
        <input name="queryString" type="text" id="inputPlaylist" required class="form-control"
               placeholder="Enter tracks separated by comma (,)" ng-model="recommendTracks" autocomplete="off" />
      </div>
    </div>
   
	<div class="col-6">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-click="recommendSpotify(recommendArtists,recommendTracks)" >
          <span class="glyphicon glyphicon glyphicon-flash"></span> Spotify Recommendation
        </button>
      </div>
      <br/><br />
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-click="recommendLastfm(recommendArtists,recommendTracks)" >
          <span class="glyphicon glyphicon glyphicon-flash"></span> LastFM Recommendation
        </button>
      </div>
      </div>
      <!-- <h1>LAST FM RECOMMENDATION</h1> -->
	<h2>{{recommendData.reqParams.thirdPartyType}} RECOMMENDATION</h2>      
      <!-- <h1>{{recommendData.tracks}}</h1> -->
	    <div ng-repeat="track in recommendData.tracks">
	    <h3>{{ track.trackName }}</h3>
    		<p>Artist: {{ track.artist }}</p>
    		<h4>{{track.albuArt}}</h4>
		    <img src="{{ track.albuArt }}" alt="{{ track.trackName }} Album Art">
		 </div>
    </div>
  </form>

</div>