<div>
  <form class="form-horizontal" name="recommendspotifylastfm" novalidate>    
    <div class="form-group" >
    <div class="col-sm-12">
      <label class="col-sm-2 control-label" for="recommendQueryType">Recommendation Type</label>
    	<input type="radio" id="artist" name="artist" value="artist" ng-model="recommendQueryType">
  		<label for="album">Artist</label>
    	<input type="radio" id="track" name="track" value="track" ng-model="recommendQueryType">
  		<label for="track">Track</label>
  	</div>
      <label class="col-sm-2 control-label" for="recommendQueryString">Recommendation query</label>
      <div class="col-sm-7">
        <input name="queryString" type="text" id="inputPlaylist" required class="form-control"
               placeholder="Enter artist/track name" ng-model="recommendQueryString" autocomplete="off" />
      </div>
    </div>
	<div class="col-6">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-click="recommendLastfm(recommendQueryString)" >
          <span class="glyphicon glyphicon glyphicon-flash"></span> Spotify Recommendation
        </button>
      </div>
      <br/><br />
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-click="recommendLastfm(recommendQueryString)" >
          <span class="glyphicon glyphicon glyphicon-flash"></span> LastFM Recommendation
        </button>
      </div>
      </div>
      <h1>{{recommendData}}</h1>
    </div>
  </form>

</div>